# .gitignore

.DS_Store
*~
examples*
preproc*

# Avoid committing .mat files or figures
*.mat
*.fig
*.png
*.jpg
*.pdf
*.eps
*.tif
*.bmp
*.gif
*.psd
*.ai
*.indd
*.mp4
*.mov
*.avi
*.m4v
*.wmv
*.flv
*.mp3
*.wav
*.aac
*.wma
*.flac
*.zip
*.tar